<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-3.3.1.min.js'></script>
    <script src='/javascripts/ethHashTimeLockContract.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <table style="width:100%;">
      <tr>
        <td colspan="4">
            <p><button value='displayWalletInfo' id='btnDisplayWalletInfo'>Get info from wallets</button></p>

            <span id='walletInfo'>
              <h3>Ethereum Wallet</h3>
              <p>Address: <span id='userEthAddr'></span></p>

              <h3>Aion Wallet</h3>
              <p>Address: <span id='userAionAddr'></span></p>
            </span>
      </td>
      </tr>
      <tr>
          <td colspan="2">Aion to Eth</td>
          <td colspan="2">Eth to Aion</td>          
      </tr>
      <tr>
        <td>ethFetcher</td> <td>aionLocker</td> <td>ethLocker</td> <td>aionFetcher</td>
      </tr>
      <tr>
        <td>
           <span id='FetchEthFundsInfo'>
            <p><button value='FetchEthFunds' id='btnFetchEthFunds'>Fetch Ethereum Funds</button></p>
          </span>             
        </td>
        <td>

          <span id='createAionSolContractInfo'>
            <p><button value='createAionSolContract' id='btnCreateAionSolContract'>Create Aion Sol Contract</button></p>
            <p><span id='aionSolContractDeploymentStatus'></span></p>
            <p>Aion Solidity Contract Address: <span id='aionSolContractAddr'></span></p>
          </span>    
          
          <span id='LockAionSolFundsInfo'>
            <p><button value='LockAionSolFunds' id='btnLockAionSolFunds'>Lock Aion Sol Funds</button></p>
          </span>                

          <span id='ReturnAionSolFundsInfo'>
            <p><button value='ReturnAionSolFunds' id='btnReturnAionSolFunds'>Return Aion Sol Funds</button></p>
          </span> 
          

        </td>
        <td>


          <span id='createEthContractInfo'>
            <p><button value='createEthContract' id='btnCreateEthContract'>Create Ethereum Contract</button></p>
            <p><span id='ethContractDeploymentStatus'></span></p>
            <p>Ethereum Contract Address: <span id='ethContractAddr'></span></p>
          </span>    
          
          <span id='LockEthFundsInfo'>
            <p><button value='LockEthFunds' id='btnLockEthFunds'>Lock Ethereum Funds</button></p>
          </span>                

          <span id='ReturnEthFundsInfo'>
            <p><button value='ReturnEthFunds' id='btnReturnEthFunds'>Return Ethereum Funds</button></p>
          </span>      

        </td>
        <td>
          <span id='FetchAionSolFundsInfo'>
            <p><button value='FetchAionSolFunds' id='btnFetchAionSolFunds'>Fetch Aion Sol Funds</button></p>
          </span>           

        </td>
      </tr>


    


  </body>
<script src='/javascripts/envSetup.js'></script>
</html>
