<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-3.3.1.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><button value='initAS' id='btnInitAS'>Initiate Atomic Swap</button></p>
  </body>
<script src='/javascripts/envSetup.js'></script>
</html>
