<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-3.3.1.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><button value='initAS' id='btnInitAS'>Get info from wallets</button></p>
    <p>Your Ethereum address: <span id='userEthAddr'></span></p>
    <p>Your Aion address: <span id='userAionAddr'></span></p>
  </body>
<script src='/javascripts/envSetup.js'></script>
</html>
